<h1 mat-dialog-title style="color: #252525">{{ title }}</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill" class="w-100 example-full-width">
      <mat-label>Data Deposito</mat-label>
      <input
        matInput
        [min]="minDate"
        [matDatepicker]="picker"
        formControlName="dataDeposito"
        [(ngModel)]="data.dados.dataDeposito"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <br />
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Valor Deposito</mat-label>
      <input
        matInput
        formControlName="valorDeposito"
        [(ngModel)]="data.dados.valorDeposito"
      />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="data.dados.valorDeposito"
  >
    Cancelar
  </button>
  <button mat-raised-button color="warn" (click)="onNoClick($event)">
    {{ btnTitle }}
  </button>
</div>
