<section class="area_login">
  <div class="login">
    <p><b>PROGRESS FINANCE</b></p>

    <form [formGroup]="form" class="form">
      <input type="text" formControlName="usuario" placeholder="Usuário" />
      <input type="email" formControlName="email" placeholder="E-mail" />
      <input type="password" formControlName="senha" placeholder="senha" />

      <button type="submit" (click)="cadastrarUsuario()">Cadastrar</button>
    </form>

    <p>
      Já tem conta? faça o <a href="/login" style="color: blue">login aqui</a>
    </p>
  </div>
</section>
