<section class="container pt-5">
  <div class="boxRigth">
    <div class="ml-3 boxDados">
      <div class="text">
        <p>
          {{ saudacao }} <b>{{ dadosUsuario.nome }}</b>
        </p>
        <p>{{ dadosUsuario.email }}</p>
      </div>
    </div>
  </div>

  <div class="d-flex" style="margin: 30px auto">
    <app-dashboard-meta [dadosUsuario]="dadosUsuario"></app-dashboard-meta>

    <app-dashboard-carteira
      [dadosUsuario]="dadosUsuario"
      (ativosRes)="items = $event"
    ></app-dashboard-carteira>
  </div>

  <div>
    <h2 class="text-light ml-3">
      Acompanhe a sua quantidade total investida nos seus ativos
    </h2>
    <div *ngFor="let item of items">
      <div
        class="progress"
        style="
          height: 33px;
          border-radius: 20px;
          margin-top: 40px;
          background-color: transparent;
        "
      >
        <div
          class="progress-bar bg-danger"
          role="progressbar"
          [style.width]="item.valorTotalInvestido + 'px'"
        ></div>
      </div>
      <p
        style="
          text-align: start;
          color: #fff;
          padding-top: 10px;
          font-size: 18px;
          padding-right: 20px;
          padding-left: 12px;
        "
      >
        {{ item.valorTotalInvestido | currency }} -
        {{ item.nome }}
      </p>
    </div>
    <br />
  </div>
</section>
