<section class="container pt-5">
  <div class="boxRigth">
    <div class="ml-3 boxDados">
      <div class="text">
        <p>
          {{ saudacao }}, <b>{{ dadosUsuario.nome }}</b>
        </p>
        <p>{{ dadosUsuario.email }}</p>
      </div>
    </div>
  </div>

  <div class="d-flex" style="margin: 30px auto">
    <div class="bg-dark rounded w-100 p-3">
      <h1>Meta</h1>
      <p class="ml-4">
        Meta definida, para mudar a meta vá para tela de "Minha metas
      </p>
      <div class="programming-stats">
        <div class="dash pt-5" style="margin: auto 30px">
          <canvas #chart></canvas>
        </div>
        <div class="details_meta">
          <ul></ul>
        </div>
      </div>
    </div>
    <div class="bg-dark ml-4 rounded w-100 p-3">
      <h1>Carteira</h1>
      <p class="pb-0 ml-4">Distribuição de ativos</p>

      <div class="programming-stats">
        <p class="text-center">
          Valor total {{ acoesAtivo + fiisAtivo + rendaFixaAtivo | currency }}
        </p>
        <div class="dash pt-3" style="margin: auto 40px">
          <canvas #chart2></canvas>
        </div>
        <div class="details_ativo">
          <ul></ul>
          <p style="padding-left: 41px">
            <!--  -->
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
