.boxRigth {
  margin-top: 10px;
  display: flex;
  justify-content: end;
  color: #fff;
}

p {
  color: #ffff;
  text-transform: initial;
}

.boxDados {
  background-color: #646464;
  padding: 5px 0 15px 15px;
  text-align: start;
  border-radius: 15px;
  width: 205px;
  height: 53px;

  .text p {
    margin-bottom: 0px;
  }
}

.bg-danger {
  background-color: #ef4b21 !important;
  border-radius: 20px;
}
