<section class="container">
  <div style="display: flex; align-items: end; justify-content: end">
    <button (click)="addMeta()">+Adicionar Meta</button>
  </div>

  <mat-tab-group mat-align-tabs="center">
    <mat-tab>
      <ng-template mat-tab-label> Metas em Andamento </ng-template>
      <app-metas-andamento
        [filtroStatusAndamentos]="filtroStatusAndamentos"
      ></app-metas-andamento>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label> Metas Concluídas </ng-template>
      <app-metas-concluidas
        [filtroStatusConcluidas]="filtroStatusConcluidas"
      ></app-metas-concluidas>
    </mat-tab>
  </mat-tab-group>
</section>
