.b button {
  width: 165px;
  height: 42px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 12px;
  background: #ffffff;
  color: #2b78cf;
  font-weight: 400;
  font-family: "Poppins";
  text-align: center;
}
