<form [formGroup]="form">
  <div class="py-3">
    <mat-form-field appearance="outline" class="col-sm-6">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome" placeholder="Nome" />
    </mat-form-field>
    <mat-form-field appearance="outline" lass="col-sm-6">
      <mat-label>E-mail</mat-label>
      <input matInput type="email" formControlName="email" />
    </mat-form-field>
  </div>

  <div style="display: flex; justify-content: end" *ngIf="form.dirty">
    <button type="submit" (click)="editarUser()">Salvar alterações</button>
  </div>
</form>
