.bg-danger {
  background-color: #ef4b21 !important;
  border-radius: 20px;
}

img {
  cursor: pointer;
}

section {
  padding: 0 55px 0 55px;
}

a,
button {
  position: relative;
  width: 165px;
  height: 42px;
  top: 18px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 12px;
  background: #ffffff;
  color: #2b78cf;
  font-weight: 400;
  font-family: "Poppins";
  margin-right: 10px;
  text-align: center;
}
