<section class="area_login">
  <div
    class="rounded-left"
    style="width: 467px; height: 65%; background-color: var(--color-progress)"
  >
    <div class="text-center" style="margin: 40% auto">
      <h1 class="my-0">Bem vindo (a)</h1>
      <p class="my-0">Gerencie seu ativos de uma forma descomplicada!</p>
    </div>
  </div>
  <div class="login rounded-right">
    <p><b>PROGRESS FINANCE</b></p>

    <form [formGroup]="form" class="form">
      <input type="email" formControlName="email" placeholder="E-mail" />
      <input type="password" formControlName="senha" placeholder="senha" />
      <button class="my-3" type="submit" (click)="login()">Entrar</button>
    </form>

    <p>
      Ainda não tem conta?
      <a href="/cadastro" style="color: rgb(134, 158, 45)">Cadastre-se </a>agora
    </p>
  </div>
</section>
