::ng-deep .mat-dialog-title {
  color: #000;
}
::ng-deep .mat-dialog-container {
  background-color: #d7dad7;
}

.caixa {
  height: 140px;
  background-color: #d9d9d9;
}

.box {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 83px;
}

.positivo,
.negativo,
.final {
  background-color: #b94b4b;
  border-radius: 10px;
  color: #ffff;
  padding: 28px;
  margin: 10px 10px 0 0;
}
