<h1 mat-dialog-title style="color: #252525">{{ title }}</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Tipo Ativo</mat-label>
      <mat-select
        formControlName="tipoAtivo"
        [(ngModel)]="value"
        (ngModelChange)="onSelectionChange()"
      >
        <mat-option *ngFor="let ativo of ativos" [value]="ativo.value">
          {{ ativo.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br />
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Nome do ativo</mat-label>
      <input matInput formControlName="nomeAtivo" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Local alocado</mat-label>
      <input
        matInput
        formControlName="localAlocado"
        placeholder="Ex: NuInveste"
      />
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Valor atual do ativo</mat-label>
      <input matInput formControlName="valorAtivoAtual" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Quantidade</mat-label>
      <input matInput formControlName="quantidade" />
    </mat-form-field>
  </form>

  <div *ngIf="value && value != 2" class="py-4">
    <h5 style="font-size: 17px">Responda as perguntas com sinceridade</h5>
    <div class="caixa">
      <div class="box">
        <div class="positivo">Pontos Positivos {{ qtdPontos }}</div>
        <div class="negativo">
          Pontos Negativos {{ checked.length - qtdPontos }}
        </div>
        <div class="final">
          Pontuação Final {{ ((qtdPontos / checked.length) * 10).toFixed(0) }}
        </div>
      </div>
      <br />
      <table
        class="table mt-4 text-left text-dark"
        style="background-color: #d9d9d9"
      >
        <thead>
          <tr>
            <th scope="col">Pergunta</th>
            <th scope="col">Criterio</th>
            <th scope="col">resposta</th>
          </tr>
        </thead>
        <tbody *ngFor="let pergunta of perguntas">
          <tr>
            <td>{{ pergunta.question }}</td>
            <td>{{ pergunta.criterio }}</td>
            <td>
              <div class="custom-control custom-checkbox">
                <input
                  [(ngModel)]="pergunta.checked"
                  (change)="onQtdPontosChange(pergunta)"
                  type="checkbox"
                  class="custom-control-input"
                  id="{{ pergunta.id }}"
                />
                <label
                  class="custom-control-label"
                  for="{{ pergunta.id }}"
                ></label>
              </div>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary">Cancelar</button>
  <button mat-raised-button color="warn" (click)="onNoClick($event)">
    Cadastrar
  </button>
</div>
