.acoes {
  color: #4fbfb5;
  font-weight: 500;
}
.fiis {
  color: #26d5f2;
  font-weight: 500;
}
.rendaFixa {
  color: #529be1;
  font-weight: 500;
}

.tipoAtivo {
  color: #fff;
  background-color: rgb(79, 191, 181);
  border-radius: 20px;
  padding: 6px;
  font-size: 15px;
}
