canvas {
  display: block;
  box-sizing: border-box;
  height: 225px !important;
  width: 228px !important;
  margin-top: 38px;
}

.dash {
  padding-top: 26px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  background-color: #0000004a;
  margin-bottom: -2px;
  padding: 10px;
  width: fit-content;
  color: #fff;
  padding: 8px 32px;
}

.details {
  margin-top: 40px;
}
.details ul {
  list-style-type: none;
  font-size: 16px;
}
.details ul li {
  margin: 12px 0;
}

:host ::ng-deep li.list-item-0 {
  list-style-type: none;
  font-size: 16px;
  margin-bottom: 10px;
}

:host ::ng-deep li.list-item-0:before {
  content: "";
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  margin-right: 0.4em;
  background-color: #17a2b8;
  border-radius: 50%;
}

:host ::ng-deep .list-item-1 {
  list-style-type: none;
  font-size: 16px;
  margin-bottom: 10px;
}
:host ::ng-deep li.list-item-1:before {
  content: "";
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  margin-right: 0.4em;
  background-color: #fd7e14;
  border-radius: 50%;
}
:host ::ng-deep .list-item-2 {
  list-style-type: none;
  font-size: 16px;
  margin-bottom: 10px;
}
:host ::ng-deep li.list-item-2:before {
  content: "";
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  margin-right: 0.4em;
  background-color: #20c997;
  border-radius: 50%;
}
