<h1 mat-dialog-title style="color: #252525">{{ title }}</h1>
<div mat-dialog-content color="accent">
  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Pergunta</mat-label>
      <input matInput formControlName="pergunta" />
    </mat-form-field>

    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      formControlName="tipo"
    >
      <mat-radio-button class="example-radio-button" value="1">
        Ação
      </mat-radio-button>
    </mat-radio-group>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
    >
      <mat-radio-button class="example-radio-button" value="2">
        FIIs
      </mat-radio-button>
    </mat-radio-group>

    <section class="example-section">
      <mat-checkbox class="example-margin" formControlName="marked"
        >Habilitar?</mat-checkbox
      >
    </section>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="cancelar()">
    Cancelar
  </button>
  <button mat-raised-button color="warn" (click)="salvar()">
    {{ title }}
  </button>
</div>
