.container-btn-table {
  position: relative;
}

.btn-cadastrar {
  position: absolute;
  top: -40px;
  right: 0;
}

.b button {
  width: 165px;
  height: 42px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 12px;
  background: #ffffff;
  color: #2b78cf;
  font-weight: 400;
  font-family: "Poppins";
  text-align: center;
  margin-right: -85px;
  margin-bottom: 10px;
  z-index: 2;
}

.custom-dialog {
  background-color: #313431;
}

.container-dash-table {
  display: flex;
  justify-content: center;
}
