<div style="margin: 200px auto">
  <app-filtrar-por-ativos [ativos]="ativos"></app-filtrar-por-ativos>

  <div
    class="container b"
    style="justify-content: end; align-items: end; display: flex"
  >
    <button (click)="openDialogCadastrar()">+Cadastrar Ativo</button>
  </div>

  <div class="rounded container-dash-table">
    <app-dashboard-meus-ativos
      [getId]="getId"
      (ativos)="ativos = $event"
    ></app-dashboard-meus-ativos>

    <app-table-meus-ativos
      [getId]="getId"
      [ativos]="ativos"
    ></app-table-meus-ativos>
  </div>
</div>
