canvas {
  display: block;
  box-sizing: border-box;
  height: 225px !important;
  width: 228px !important;
  margin-top: 38px;
}

.dash {
  padding-top: 26px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  background-color: #0000004a;
  margin-bottom: -2px;
  padding: 10px;
  width: fit-content;
  color: #fff;
  padding: 8px 32px;
}

.acoes {
  color: #4fbfb5;
  font-weight: 500;
}
.fiis {
  color: #26d5f2;
  font-weight: 500;
}
.rendaFixa {
  color: #529be1;
  font-weight: 500;
}

.container-btn-table {
  position: relative;
}

.btn-cadastrar {
  position: absolute;
  top: -40px;
  right: 0;
}
.b button {
  width: 165px;
  height: 42px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 12px;
  background: #ffffff;
  color: #2b78cf;
  font-weight: 400;
  font-family: "Poppins";
  text-align: center;
  margin-right: -147px;
  margin-bottom: 10px;
}

.custom-dialog {
  background-color: #313431;
}

.container-dash-table {
  display: flex;
  justify-content: center;
  // margin: 200px auto;
}

.tipoAtivo {
  color: #fff;
  background-color: rgb(79, 191, 181);
  border-radius: 20px;
  padding: 6px;
  font-size: 15px;
}
.box {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.details {
  margin-top: 40px;
}
.details ul {
  list-style-type: none;
  font-size: 16px;
}
.details ul li {
  margin: 12px 0;
}

:host ::ng-deep li.list-item-0 {
  list-style-type: none;
  font-size: 16px;
  margin-bottom: 10px;
}

:host ::ng-deep li.list-item-0:before {
  content: "";
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  margin-right: 0.4em;
  background-color: #17a2b8;
  border-radius: 50%;
}

:host ::ng-deep .list-item-1 {
  list-style-type: none;
  font-size: 16px;
  margin-bottom: 10px;
}
:host ::ng-deep li.list-item-1:before {
  content: "";
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  margin-right: 0.4em;
  background-color: #fd7e14;
  border-radius: 50%;
}
:host ::ng-deep .list-item-2 {
  list-style-type: none;
  font-size: 16px;
  margin-bottom: 10px;
}
:host ::ng-deep li.list-item-2:before {
  content: "";
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  margin-right: 0.4em;
  background-color: #20c997;
  border-radius: 50%;
}

.container {
  div {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    top: 53px;
    align-content: flex-end;
    position: relative;
  }
  ul {
    color: #ffffff;
    display: flex;
    align-items: end;
    justify-content: space-between;
    position: relative;
    top: 4px;
    list-style: none;

    li {
      color: #fff;
      border-radius: 20px;
      padding: 7px;
      font-size: 15px;
      width: 100px;
      text-align: center;
      margin-left: 10px;
      cursor: pointer;
    }
    .acoes {
      background-color: rgb(23, 162, 184);
    }
    .fiis {
      background-color: rgb(253, 126, 20);
    }
    .fixa {
      background-color: #529be1;
    }
    .limpaFiltro {
      background-color: #3f5468;
    }
  }
}
