<section class="container pt-5">
  <div class="containerHeader">
    <div class="topInput mt-5 pr-4">
      <mat-form-field appearance="outline" class="w-20">
        <mat-label class="text-light">Valor do investimento</mat-label>
        <input
          matInput
          currencyMask
          [formControl]="valorInvestimento"
          class="mat-form-field text-light"
        />
      </mat-form-field>
      <button type="submit" class="mb-3" (click)="calcularInvestimento()">
        Calcular
      </button>
    </div>

    <app-dashboard-novo-aporte
      (ativos)="ativos = $event"
      [calculo]="ativos"
      [idUsuario]="getIdUser"
    ></app-dashboard-novo-aporte>
  </div>

  <div class="rounded">
    <h1 class="p-0 pt-3">Histórico de Aportes</h1>

    <app-table-novo-aporte [items]="ativos"></app-table-novo-aporte>
  </div>
</section>
