.topInput {
  top: 230px;
  position: absolute;
  left: auto;
}

.acoes {
  color: #4fbfb5;
  font-weight: 500;
}
.fiis {
  color: #26d5f2;
  font-weight: 500;
}
.rendaFixa {
  color: #529be1;
  font-weight: 500;
}

.tipoAtivo {
  color: #fff;
  background-color: rgb(79, 191, 181);
  border-radius: 20px;
  padding: 6px;
  font-size: 15px;
}

button {
  position: relative;
  width: 88px;
  height: 35px;
  text-decoration: none;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background: #ffffff;
  color: #2b78cf;
  font-weight: 400;
  font-family: "Poppins";
  text-align: center;
}

.box {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

:host ::ng-deep .mat-form-field-outline {
  background-color: rgba(114, 114, 114, 0.5) !important;
}
